.single-news-subtitle {
  color: black;
  font-size: 15px !important;
}
.title-card {
  color: black;
  font-size: 14px !important;
}
.link-decoration {
  text-decoration: none;
}
.container-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}
.container-card:hover {
  filter: brightness(80%);
  transform: scale(1.1);
}
