.menuContainer {
  margin: 20px 40px;
  padding: 15px;
  border-radius: 5px;
}

.styleIcons {
  font-size: 20px !important;
}
.btnMenuItem {
  border: 0px !important;
}
.btnMenuItem:hover {
  background-color: transparent !important;
  color: rgb(123, 123, 123) !important;
}

.loadingSpin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.ass {
  overflow: hidden;
}

.filterSchedules {
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}

@media (max-width: 950px) {
  .menuContainer {
    margin: 20px;
  }
}

@media (max-width: 576px) {
  .menuContainer {
    padding: 0px;
  }
}
