@font-face {
  font-family: 'NovaQuinta';
  src: url('/public/fonts/NOVAQUINTA_PERSONAL_USE_ONLY.OTF') format('opentype');
  font-display: swap;
}
.container-title {
  background-color: #f8f9fa;
}

.title1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
.phrase {
  font-family: 'NovaQuinta', cursive;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0px;
  text-shadow: 1px 2px 1px rgb(135, 135, 135);
}

@media (max-width: 991px) {
  .phrase {
    font-size: 28px;
  }
}
