
.card-title {
  background-color: rgba(174, 174, 174, 0.514);
  padding: 4px 8px;
  width: 100%;
  position: absolute;
  text-align: center;
  /* bottom:5%;
  left: 6%;
  right: 6%; */
  bottom: 0px;
  color: white;
  font-weight: 600;
}
