.container-footer {
  background-color: rgb(49, 49, 49);
}
.ps-footer-section {
  padding-left: 10vw !important;
}

.img-foot {
  width: 11vw;
  height: auto;
}

.title-section-footer {
  font-size: 18px !important;
  color: rgb(216, 216, 216) !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-section a {
  text-decoration: none;
}
.container-section a:hover {
  font-weight: 600;
}
.container-section p {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(216, 216, 216);
}

.icon-footer {
  color: rgb(216, 216, 216);
  font-size: 28px;
}
.icon-footer1 {
  color: rgb(216, 216, 216);
  font-size: 38px;
}

.text-contact-footer {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(216, 216, 216);
}
.link-location {
  color: white;
  text-decoration: none;
  font-weight: 300 !important;
  font-size: 15px !important;
}
.link-location:hover {
  color: white;
  font-weight: 600 !important;
}
.img-foot-phone {
  width: 270px;
  /* width: 15vw; */
  height: auto;
}
.img-foot-app {
  /* width: 10vw; */
  width: 180px;
  height: auto;
}
.container-app {
  display: flex;
  justify-content: flex-end;
}
.container-img-foot {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .img-foot-phone {
    width: 200px;
  }
  .img-foot-app {
    width: 150px;
  }
}
@media (max-width: 1020px) {
  .container-app {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .ps-footer-section {
    padding-left: 0px !important;
  }
  .img-foot-phone {
    width: 30vw;
  }
  .img-foot-app {
    width: 28vw;
  }
  .container-app {
    display: grid !important;
    justify-content: start !important;
  }
  .container-img-foot {
    display: grid !important;
    justify-content: start !important;
  }
}
