.card-container {
  width: 100% !important;
  height: 500px !important;
  border-radius: 15px !important;
}
.card-img {
  height: 100%;
  border-radius: 15px !important;
}
.card-title {
  background-color: rgba(174, 174, 174, 0.514);
  padding: 4px 8px;
  width: 100%;
  position: absolute;
  text-align: center;
  /* bottom:5%;
  left: 6%;
  right: 6%; */
  bottom: 0px;
  color: white;
  font-weight: 600;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.card-container a img:hover {
  filter: saturate(150%);
}

.aa > p:hover{
  color: #1540ccb4;
}
