.container-cover {
  height: 40vw;
}
.img-cover {
  background-image: url("../src/images/logo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.section-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.section-btn {
  background-color: rgba(21, 64, 204, 0.705) !important;
  border: 0 !important;
  font-weight: 500 !important;
  color: white !important;
}

.phrase1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.2vw;
  font-weight: 600;
}

.cardG-container {
  width: 100% !important;
  height: 250px !important;
  border-radius: 15px !important;
}
.cardG-container:hover {
  border: 1px solid rgb(221, 221, 221) !important;
}
.cardG-img {
  height: 250px;
  border-radius: 5px !important;
}
.cardG-title {
  background-color: rgba(174, 174, 174, 0.514);
  padding: 4px 8px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.container-special-day {
  background-color: rgb(49, 49, 49);
}

.img-radius {
  border-radius: 20px;
}

.img-backpage {
  /* background-image: url("../public/images/imgFondo.jpg");
  background-size: cover;
  background-position: center; */
  background: linear-gradient(to top, #1d333ccb, 70%, #2b9ac6ba);
}

.pagintacion-component li {
  padding: 0px 5px !important;
}

.ant-btn {
  background-color: #2b9ac6ba !important;
}
.navbar-container{
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
}

.title-recent-news{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
}
.more-news-container{
  background: linear-gradient(to top, #1d333ccb, 70%, #2b9ac6ba);
}
