-cover {
  height: 40vw;
}
.container-cover {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.cursorPointer {
  cursor: pointer;
}
.img-cover {
  background-image: url('../src/images/logo.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.page-section-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
}
.section-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
.section-btn {
  background-color: #2b9ac6ba !important;
  border: 0 !important;
  font-weight: 500 !important;
  color: white !important;
}

.phrase1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.2vw;
  font-weight: 600;
}

.cardG-container {
  width: 100% !important;
  height: 250px !important;
  border-radius: 15px !important;
}
.cardG-container:hover {
  filter: saturate(2.5);
}
.cardG-img {
  height: 250px;
  border-radius: 15px !important;
  object-fit: cover;
}
.cardG-title {
  background-color: rgba(174, 174, 174, 0.514);
  padding: 4px 8px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.container-special-day {
  background-color: rgb(49, 49, 49);
}

.img-radius {
  border-radius: 20px;
}

.pagintacion-component li {
  padding: 0px 5px !important;
}

.ant-btn {
  background-color: #2b9ac6ba !important;
}
.navbar-container {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
}
.videoLive-container {
  z-index: 1000;
  position: sticky;
  top: 70px;
  width: 100%;
}

.title-recent-news {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
}
.bg-gradient-1 {
  background: linear-gradient(to top, #1d333ccb, 70%, #4b98d3);
}
.bg-gradient-2 {
  background: linear-gradient(to top, #15262ccb, 70%, #2d4e5bba);
}
.bg-gradient-3 {
  background: linear-gradient(to top, rgb(193, 218, 255), 40%, #81a7d3);
}
/* .bg-transparent {
  background-color:transparent !important;
} */

.c-green {
  color: green;
}
.c-green:hover {
  color: rgb(5, 232, 5);
}

.c-red {
  color: red;
}
.c-red:hover {
  color: rgb(252, 73, 73);
}

#id-btn-upload {
  display: none;
}
.btnUpload {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px dashed rgb(123, 123, 123);
}
.preview-upload {
  width: 100px;
  height: 100px;
}
.preview-upload-backdrop {
  border: 3px solid rgb(65, 93, 132);
  width: 300px;
  height: 300px;
}
.preview-upload-video {
  width: 150px;
  height: 150px;
}
.btnUploadVideo {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border: 1px dashed rgb(123, 123, 123);
}

.container-preview {
  position: relative;
}
.btn-delete-img {
  position: absolute;
  top: 0;
  right: 24px;
  width: 25px;
  height: 25px;
  color: black !important;
}
.btn-delete-img:hover {
  background-color: rgba(196, 0, 0, 0.575) !important;
  color: white !important;
}
.btn-contianer-delete {
  position: relative;
}
.text-important {
  font-size: 14px;
  font-style: oblique;
}

@media (max-width: 1100px) {
  .container-cover {
    height: 450px !important;
  }
}
@media (max-width: 991px) {
  .container-cover {
    height: 400px !important;
  }
}

.live-indicator-container {
  display: flex;
  align-items: center;
}

.live-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
