.cardContainer {
  width: 38vh !important;
  height: 45vh !important;
  border-radius: 15px !important;
}
.cardLink {
  text-decoration: none;
}

.cardImg {
  height: 38vh;
  width: 100%;
  border-radius: 15px !important;
  text-decoration: none;
}
.cardImg {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.cardBody {
  padding: 0px !important;
  text-align: center;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  align-content: center;
  color: #2b9ac68e;
}

.cardTitle {
  padding: 20px 8px 10px 8px;
  width: 100%;
  color: white;
  font-weight: 600;
  font-weight: 600;
}
.container-single-specialDays {
  width: 80% !important;
}
@media (max-width: 991px) {
  .container-single-specialDays {
    width: 100% !important;
    margin: 0px !important;
  }
}

@media (max-width: 767px) {
  .container-more-specialDays {
    visibility: hidden;
  }
  .single-specialDays-col1 {
    width: 100% !important;
  }
}
